/* this file defines the CSS for the tablet version.*/

#mainGrid
{
		text-align: 	center;
		height: 		100%;
		width: 			100%;	
}

div.contentGrid
{
		float: 			left;
		height:			50%;
		width:			50%;
}

#grid1

{
		background-color:	#006633;
}

#grid2

{
		background-color:	#003399;
}

#grid3

{
		background-color:	#990033;
}

#grid4

{
		background-color:	#ffff33;
}